

table.product_detail{
    #border : 1px solid;
    border-collapse :collapse;
}

tbody td.item{
    width:100px;
    #border :1px solid red;
    border-right: 1px solid #DCDCDC!important;
    width:140px;
    padding-left: 20px;
    padding-right:20px;
    text-align: right;
    line-height : 40px;
}

tbody td.content_td{
    width:100px;
    padding-left: 20px;
    padding-right:20px;
    #border :1px solid red;
    width:400px;
}

tbody td.text_massive{
    height: 150px;
}

tbody td.text_massive div.content_div{
    height: 100%;
    text-align: left;
}

tbody td>span{
    color :red;
}